{% extends 'login.html.twig'%}

{% block title %} welcome{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-container">           
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            
            {%if error %}   
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div> 
                
            {% endif %}

            <form class="form-signin" action="{{ path('login') }}" method="POST">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" name="_username" value="{{ last_username }}" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="hidden" name="_csrf_token"ue="{{ csrf_token('authenticate') }}">                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->            
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}